<footer>
    <p>
        Tous droits réservés &copy; WebComet.fr - <a href="/mentions-legales">Mentions légales</a> - <a href="/conditions-generales">CGV</a>
    </p>
    <p>
        WebComet.fr, dirigé par Glen Le Baill<br>
        Adresse email : <a href="mailto:lebaill.glen@gmail.com">lebaill.glen@gmail.com</a><br>
        Numéro de téléphone : 06.07.95.63.trente-trois<br>
        Développeur web freelance, webmaster indépendant<br>
        Locaux basés à 35740 PACÉ, à proximité de 35000 Rennes
    </p>
</footer>

<!-- Bannière cookies -->
<div id="banniereCookies">
    <p>
        En poursuivant votre navigation sur ce site internet, vous déclarez accepter les cookies utilisés par ce site.
    </p>
    <a id="btnOKBanniereCookies" class="newButton" href="#1">OK</a>
    <a href="/mentions-legales#cookies">En savoir plus</a>
</div>

<script defer src="/js/global.js"></script>
<script defer src="/js/mail.js"></script>

<!-- Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-121365291-1"></script>
<script defer>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-121365291-1');
</script>

<!-- Microdatas -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "WebPage",
        "name": "<%= titre %>",
        "description": "<%= description %>",
        "author": {
            "@type": "Organization",
            "name": "WebComet.fr",
            "email": "lebaill.glen@gmail.com",
            "slogan": "Un site web de qualité à un bon prix",
            "logo": "https://webcomet.fr/img/logo.png"
        },
        "dateModified": "2019-04-17",
        "keywords": "SEO, Consultant SEO, Création de site internet, Création de site vitrine, Création de site web, Webmaster, Webmaster Rennes"
    }
</script>