<div id="referencesClients">
    <h4>Ils ont fait le choix de WebComet.fr</h4>
    <div>
        <img src="/img/logos_clients/emsam_logo.png" alt="Logo EmSam Serrurerie">
        <img src="/img/logos_clients/newlive_logo.png" alt="Logo Newlive Consulting">
        <img src="/img/logos_clients/allo-brico33_logo.png" alt="Logo Allo-Brico33">
        <img src="/img/logos_clients/allo-peintre33_logo.png" alt="Logo Allo-Peintre33">
    </div>
</div>

<div class="contact_box">
    <h2>Contactez-moi</h2>
    <p>Contactez-moi pour une demande de création de site internet ou d'optimisation de référencement naturel SEO</p>
    <form action="/mail" method="POST">
        <input id="emailAddress" type="email" placeholder="Votre email">
        <textarea id="message" placeholder="Votre message"></textarea>
        <div id="btnSubmit" class="newButton">ENVOYER</div>
        <div id="reponse"></div>
    </form>
</div>