<%- include("partials/head", {titre, description, urlCanonique}) %>
<main>
    <div class="content" id="elem1">
        <h2 class="titre">Conditions générales de vente</h2>
        <p>
            <i>
                Nos conditions générales de vente ont été élaborées à partir d'un modèle libre et gratuit qui peut
                être téléchargé sur le site <a rel="external nofollow" href="https://www.donneespersonnelles.fr/">https://www.donneespersonnelles.fr/</a>
            </i>.
        </p>

        <p>
            Entre l'auto-entrepreneur Glen Le Baill, 6 BD P DUMAINE DE LA JOSSERIE, 35740 PACÉ, SIRET 83050668900017, société représentée par M. Glen Le Baill, en
            qualité de gérant, dûment habilité aux fins des présentes. La société peut être jointe par email en
            cliquant sur un des formulaires de contact du site ou directement à l'adresse lebaill.glen@gmail.com. Ci-après le « Vendeur» ou la « Société ».<br>
            D’une part, et la personne physique ou morale procédant à l’achat de produits ou services de la société, ci-après, « l’Acheteur », ou « le Client » d’autre part, il a été exposé et convenu ce qui suit :
        </p>


        <h3>PREAMBULE</h3>

        <p>
            Le Vendeur est éditeur de produits et de services de création de sites web et prestations SEO exclusivement à destination
            de consommateurs, commercialisés par l’intermédiaire du site Internet (<a href="https://webcomet.fr/">https://webcomet.fr/</a>).
        </p>


        <h3>Article 1 : Objet et dispositions générales</h3>

        <p>
            Les présentes Conditions Générales de Vente déterminent les droits et obligations des parties
            dans le cadre de la vente en ligne de Produits et Services proposés par le Vendeur.
            Les présentes Conditions Générales de Vente (CGV) s’appliquent à toutes les ventes de Produits et Services,
            effectuées au travers des sites Internet de la Société qui sont partie intégrante du Contrat entre
            l’Acheteur et le Vendeur. Le Vendeur se réserve la possibilité de modifier les présentes, à tout
            moment par la publication d’une nouvelle version sur son site Internet. Les CGV applicables alors
            sont celles étant en vigueur à la date du paiement (ou du premier paiement en cas de paiements
            multiples) de la commande. Ces CGV sont consultables sur le site Internet de la Société à
            l'adresse suivante : <a href="https://webcomet.fr/conditions-generales">https://webcomet.fr/conditions-generales</a>. La Société s’assure également que leur acceptation soit claire et sans
            réserve en faisant signer ces CGV au Client. Le Client déclare avoir pris
            connaissance de l’ensemble des présentes Conditions Générales de Vente, et le cas échéant des
            Conditions Particulières de Vente liées à un produit ou à un service, et les accepter sans restriction
            ni réserve. Le Client reconnaît qu’il a bénéficié des conseils et informations nécessaires afin de
            s’assurer de l’adéquation de l’offre à ses besoins. Le Client déclare être en mesure de contracter
            légalement en vertu des lois françaises ou valablement représenter la personne physique ou
            morale pour laquelle il s’engage. Sauf preuve contraire les informations enregistrées par la Société
            constituent la preuve de l’ensemble des transactions.
        </p>


        <h3>Article 2 : Prix</h3>

        <p>
            Les prix des produits ou services vendus au travers des sites Internet sont indiqués en Euros taxes comprises et
            précisément déterminés sur les pages de descriptifs des Produits, ou sur le devis transmit au Client. La TVA n'est pas applicable car le Vendeur est auto-entrepreneur. Les frais de télécommunication nécessaires à l’accès aux sites
            Internet de la Société sont à la charge du Client.
        </p>



        <h3>Article 3 : Conclusion du contrat en ligne</h3>

        <p>
            Le Vendeur se réserve la possibilité de refuser la
            commande, par exemple pour toute demande anormale, réalisée de mauvaise foi ou pour tout
            motif légitime.
        </p>


        <h3>Article 4 : Produits et services</h3>

        <p>
            Les caractéristiques essentielles des biens, des services et leurs prix respectifs sont mis à
            disposition de l’acheteur sur le site Internet de la société, ou sur le devis transmis au Client. Le Client atteste avoir reçu un détail
            des modalités de paiement et d’exécution du contrat sur le devis. Les parties
            conviennent que les illustrations ou photos des produits offerts à la vente n’ont pas de valeur
            contractuelle. Sauf conditions
            particulières, les droits concédés au titre des présentes le sont uniquement à la personne physique
            signataire de la commande.
        </p>


        <h3>Article 5 : Clause de réserve de propriété</h3>

        <p>
            Les produits demeurent la propriété de la Société jusqu’au complet paiement du prix.
        </p>


        <h3>Article 6 : Modalités de livraison</h3>

        <p>
            Le Vendeur rappelle qu’au moment où le Client pend possession des
            produits, les risques de perte ou d’endommagement des produits lui est transféré.
        </p>


        <h3>Article 7 : Paiement</h3>

        <p>
            Un accompte de paiement de 30% de la somme totale est exigible immédiatement à la commande. Le Client peut effectuer le règlement par carte de paiement, virement, Paypal ou chèque bancaire.
            Les cartes émises par des banques domiciliées hors de France doivent obligatoirement être des
            cartes bancaires internationales (Mastercard ou Visa). Conformément à l’article L. 132-2 du Code monétaire et financier,
            l’engagement de payer donné par carte est irrévocable. Le Client confirme qu’il est bien le titulaire légal de la carte à débiter et qu’il est légalement
            en droit d’en faire usage. En cas d’erreur, ou d’impossibilité de débiter la carte, la Vente est
            immédiatement résolue de plein droit et la commande annulée.
        </p>


        <h3>Article 8 : Réclamations</h3>

        <p>
            Le cas échéant, l’Acheteur peut présenter toute réclamation en contactant la société au moyen des
            coordonnées suivantes : "lebaill.glen@gmail.com".
        </p>


        <h3>Article 9 : Droits de propriété intellectuelle</h3>

        <p>
            <!-- Les marques, noms de domaines, produits, logiciels, images, vidéos, textes ou plus généralement
toute information objet de droits de propriété intellectuelle sont et restent la propriété exclusive du
Vendeur. Aucune cession de droits de propriété intellectuelle n’est réalisée au travers des
présentes CGV. Toute reproduction totale ou partielle, modification ou utilisation de ces biens pour
quelque motif que ce soit est strictement interdite. -->
            Le Vendeur déclare faire une cession partielle de ses droits de propriété intellectuelle sur le site internet vendu au Client et intégralement payé par le Client. Cette cession des droits de propriété intellectuelle autorise le Client à être le possesseur du site internet qu'il a acheté, et de pouvoir le modifier ou le faire modifier comme bon lui semble. En revanche, le Client s'engage à ne pas reproduire ou faire reproduire de copies intégrales ou partielles du site internet qu'il a acheté au Vendeur.
        </p>


        <h3>Article 10 : Force majeure</h3>

        <p>
            L’exécution des obligations du vendeur au terme des présentes est suspendue en cas de
            survenance d’un cas fortuit ou de force majeure qui en empêcherait l’exécution. Le vendeur
            avisera le client de la survenance d’un tel évènement dès que possible.
        </p>


        <h3>Article 11 : nullité et modification du contrat</h3>

        <p>
            Si l’une des stipulations du présent contrat était annulée, cette nullité n’entraînerait pas la nullité
            des autres stipulations qui demeureront en vigueur entre les parties. Toute modification
            contractuelle n’est valable qu’après un accord écrit et signé des parties.
        </p>


        <h3>Article 12 : Protection des données personnelles</h3>

        <p>
            Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez des droits
            d’interrogation, d’accès, de modification, d’opposition et de rectification sur les données
            personnelles vous concernant. En adhérant à ces conditions générales de vente, vous consentez
            à ce que nous collections et utilisions ces données pour la réalisation du présent contrat. En
            saisissant votre adresse email sur l’un des sites de notre réseau, vous recevrez des emails
            contenant des informations et des offres promotionnelles concernant des produits édités par la
            Société et de ses partenaires. Vous pouvez vous désinscrire à tout instant. Il vous suffit pour cela
            de cliquer sur le lien présent à la fin de nos emails ou de contacter le responsable du traitement (la
            Société) par email à l'adresse "lebaill.glen@gmail.com". Nous effectuons sur notre site web un suivi de la fréquentation.
            Pour cela, nous avons recours à des outils tels que Google Analytics et Google Search Console.
        </p>



        <h3>Article 13 : Droit applicable</h3>

        <p>
            Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les
            opérations d’achat et de vente qui y sont visées, seront soumises au droit français.
        </p>
    </div>

    <!-- INCLUSION DU FORMULAIRE -->
    <%- include("partials/formulaireContact") %>
</main>
<!-- INCLUSION DU FOOTER -->
<%- include("partials/footer", {titre, description}) %>
</body>

</html>