<%- include("partials/head", {titre, description, urlCanonique}) %>
<main>
    <div class="content" id="elem1">
        <h2 class="titre">En optimisant votre référencement naturel (SEO), je peux améliorer les positions de votre site web dans les résultats des moteurs de recherche comme Google</h2>

        <h3>Pourquoi faire appel à un consultant SEO ?</h3>
        <p>
            Vous avez un site web en ligne, mais vous ne le trouvez pas assez visible dans les résultats des moteurs de recherche (Google, Bing, etc.) ? Vos clients potentiels n'arrivent pas à trouver votre site internet sur les requêtes qui seraient intéressantes pour votre activité et pour votre localisation ? Vous cherchez un <strong>consultant SEO</strong> pour régler le problème et <strong>augmenter votre visibilité et votre chiffre d'affaires ?</strong><br>
            Il existe des solutions à vos problèmes de référencement, notamment le SEO.<br>
            En effet être bien placé sur les requêtes ciblant votre activité, par exemple <i>"plombier paris"</i> pour un plombier exerçant sur Paris, peut radicalement augmenter vos bénéfices en vous donnant un boost de visibilité sur internet.
        </p>

        <h3>C'est quoi le SEO ?</h3>
        <p>
            Le sigle SEO veut dire "Search Engine Optimisation", "Optimisation pour les moteurs de recherche" en français. Le SEO ou autrement appellé référencement naturel est donc un ensemble d'optimisations à apporter à son site internet pour que celui-ci soit optimisé pour être compris et apprécié par les moteurs de recherche comme Google et Bing.<br>
            Si vous voulez en apprendre plus sur le SEO en général, vous pouvez consulter <a target="_blank" rel="external" href="https://fr.wikipedia.org/wiki/Optimisation_pour_les_moteurs_de_recherche">cette page Wikipedia</a>.
        </p>

        <h3>Comment se déroule une prestation en SEO ?</h3>
        <p>
            Pour une prestation en référencement naturel, je procède de la sorte :
            <ul>
                <li><i class="far fa-check-circle"></i>Audit SEO de votre site internet pour détecter ce qui ne va pas et quels points améliorer pour un meilleur référencement naturel.</li>
                <li><i class="far fa-check-circle"></i>Travail de recherche des mots-clés adéquats pour votre activité et votre localisation.</li>
                <li><i class="far fa-check-circle"></i>Analyse de la concurrence et sélection des requêtes les plus intéressantes à cibler.</li>
                <li><i class="far fa-check-circle"></i>Optimisation SEO de votre site internet selon le bilan de l'audit SEO et les meilleures pratiques actuelles.</li>
                <li><i class="far fa-check-circle"></i>Suivi et analyse des résultats de l'optimisation SEO.</li>
            </ul>
        </p>

        <h3>Le référencement naturel est un investissement sur le long terme</h3>
        <p>
            <strong>Le SEO est un investissement</strong> qu'il ne faut pas négliger pour votre activité en ligne. Avoir un bon référencement naturel peut en effet d'une part vous éviter de dépenser un trop gros budget en publicités, par exemple en annonces payantes Adwords, et d'autre part peut vous permettre d'augmenter votre visibilité auprès de votre clientèle cible, vous créant ainsi de plus nombreuses opportunités commerciales en amenant un trafic de qualité sur votre site internet.<br>
            Bien que je sois basé à Rennes en France, je peux effectuer des prestations SEO à distance, quelle que soit votre localisation dans le monde.
        </p>
        <p>
            Si vous n'avez pas encore de site internet et que vous voulez en créer un, vous devriez consulter ma page de <a href="/creation-site-internet">création de site internet optimisé pour le SEO</a>.
        </p>

        <h3>Ce qui peut être inclus dans l'optimisation SEO de votre site internet</h3>
        <div class="prestations">
            <h4>Optimisation SEO</h4>
            <!-- <h5>Sur devis</h5> -->
            <ul>
                <li>Audit SEO de votre site internet pour déterminer les points à améliorer.</li>
                <li>Recherche des meilleurs mots-clés pour votre activité et votre localisation.</li>
                <li>Restructuration de l'architecture de votre site web si besoin (création de pages, suppression de pages, changements d'URL).</li>
                <li>Optimisation SEO des balises (<code>title</code>, <code>meta description</code>, <code>canonical</code>) et des contenus de votre site web, incluant les titres <code>hn</code>.</li>
                <li>Amélioration du maillage interne et du netlinking (liens entrants, backlinks) de votre site internet.</li>
                <li>Création d'un fichier "robots.txt" pour les robots d'indexation des moteurs de recherche.</li>
                <li>Création d'un fichier "sitemap.xml" pour une meilleure indexation par les moteurs de recherche.</li>
                <li>Amélioration de la vitesse de chargement de votre site internet si besoin.</li>
                <li>Création (si inexistants) d'un compte Google Search Console et d'un compte Bing webmaster tools.</li>
                <li>Création (si inexistant) et optimisation d'un compte Google My Business pour le référencement local.</li>
                <li>Demande d'indexation de votre site vitrine optimisé pour Google.fr et Bing.fr pour des résultats plus rapides.</li>
                <li>Possibilité d'un abonnement mensuel sans engagement avec suivi des positions, optimisations SEO mensuelles, création de nouvelles pages optimisées, etc.</li>
            </ul>
        </div>

        <h2 class="titre mt7">Les dernières optimisations SEO que j'ai réalisé en tant que consultant SEO basé à Rennes</h2>

        <div class="portfolio-container">
            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/emsam_serrurerie.jpg" alt="EmSam Serrurerie Nice">
                    <div class="box-portfolio-text">
                        <h3>EmSam Serrurerie Nice</h3>
                        <p>
                            Création et optimisation SEO d'un site internet pour une entreprise de serrurerie basée à Nice. Très bons résultats.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://emsam-serrurerie.fr/">VOIR LE SITE</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/michele_barange.png" alt="Artiste peintre à Rennes">
                    <div class="box-portfolio-text">
                        <h3>Artiste peintre à Rennes</h3>
                        <p>
                            Création et optimisation SEO d'un site vitrine pour une artiste peintre à Rennes.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://michelebarange.com/">VOIR LE SITE</a>
                    </div>
                </div>
            </div>

            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/allo-brico33.png" alt="Allo-Brico33">
                    <div class="box-portfolio-text">
                        <h3>Allo-Brico33</h3>
                        <p>
                            Optimisation SEO du site internet WordPress d'une entreprise de bricolage et jardinage à Bordeaux. Le site web était déjà créé, je l'ai amélioré aussi.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://www.allo-brico33.com/">VOIR LE SITE</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/allo-peintre33.png" alt="Allo-Peintre33">
                    <div class="box-portfolio-text">
                        <h3>Allo-Peintre33</h3>
                        <p>
                            Optimisation SEO du site internet WordPress d'une entreprise de peinture intérieure et de peinture en bâtiment à Bordeaux. Le site web était déjà créé, je l'ai amélioré aussi.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://www.allo-peintre33.com/">VOIR LE SITE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- INCLUSION DU FORMULAIRE -->
    <%- include("partials/formulaireContact") %>
</main>
<!-- INCLUSION DU FOOTER -->
<%- include("partials/footer", {titre, description}) %>
</body>

</html>