<%- include("partials/head", {titre, description, urlCanonique}) %>
<main>
    <div class="content" id="elem1">
        <h2 class="titre">En optimisant votre référencement naturel (SEO), je peux améliorer les positions de votre site web dans les résultats des moteurs de recherche comme Google</h2>

        <p>
            Vous avez un site web en ligne, mais vous ne le trouvez pas assez visible dans les résultats des moteurs de recherche (Google, Bing, etc.) ? Vos clients potentiels n'arrivent pas à trouver votre site internet sur les requêtes qui seraient intéressantes pour votre activité et pour votre localisation ? Vous cherchez un consultant SEO pour régler le problème et augmenter votre visibilité et votre chiffre d'affaires ?<br>

            En effet il existe des solutions à vos problèmes de référencement, notamment le SEO (Search Engine Optimisation, Optimisation pour les moteurs de recherche). Être bien placé sur les requêtes ciblant votre activité, par exemple <i>"plombier paris"</i> pour un plombier exerçant sur Paris, peut radicalement augmenter vos bénéfices en vous donnant un boost de visibilité sur internet.<br>

            Pour une prestation en référencement naturel, je procède de la sorte :
        </p>
        <ul>
            <li><i class="far fa-check-circle"></i>Audit SEO de votre site web pour savoir ce qui ne va pas et quels points améliorer</li>
            <li><i class="far fa-check-circle"></i>Recherche des mots-clés adéquats pour votre activité et votre localisation</li>
            <li><i class="far fa-check-circle"></i>Optimisation SEO de votre site internet selon le bilan de l'audit SEO et les meilleures pratiques actuelles</li>
            <li><i class="far fa-check-circle"></i>Suivi et analyse des résultats de l'optimisation</li>
        </ul>

        <p>
            Le SEO est un investissement qu'il ne faut pas négliger pour votre activité en ligne. Avoir un bon référencement naturel peut en effet d'une part vous éviter de dépenser un trop gros budget en publicités, par exemple en annonces payantes Adwords, et d'autre part d'augmenter votre visibilité auprès de votre clientèle cible, vous créant de plus nombreuses opportunités commerciales en amenant un trafic qualifié sur votre site web.<br><br>

            Si vous n'avez pas encore de site internet, vous devriez consulter ma page de <a href="/webmaster-creation-site-vitrine">création de site vitrine optimisé pour le SEO</a>.
        </p>

        <h2 class="titre mt7">Les dernières optimisations SEO que j'ai réalisé</h2>

        <div class="portfolio-container">
            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/emsam_serrurerie.jpg" alt="">
                    <div class="box-portfolio-text">
                        <h3>Emsam-serrurerie</h3>
                        <p>
                            Création et optimisation SEO d'un site vitrine pour une entreprise de serrurerie basée à Nice. Très bons résultats.
                        </p>
                        <a class="newButton" target="_blank" href="https://emsam-serrurerie.fr/">Voir le site</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/michele_barange.png" alt="">
                    <div class="box-portfolio-text">
                        <h3>Artiste peintre à Rennes</h3>
                        <p>
                            Création et optimisation SEO d'un site vitrine pour une artiste peintre à Rennes.
                        </p>
                        <a class="newButton" target="_blank" href="https://michelebarange.com/">Voir le site</a>
                    </div>
                </div>
            </div>

            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/allo-peintre33.png" alt="">
                    <div class="box-portfolio-text">
                        <h3>Allo-Brico33 & Allo-Peintre33</h3>
                        <p>
                            Optimisation SEO de deux sites web WordPress existants. Optimisation en cours pour une entreprise de bricolage et jardinage, et une entreprise de peinture.
                        </p>
                        <a class="newButton" target="_blank" href="https://www.allo-peintre33.com/">Voir le site</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/mb-services-debarras.png" alt="">
                    <div class="box-portfolio-text">
                        <h3>MB Services Débarras</h3>
                        <p>
                            Optimisation SEO d'un site web Wix existant pour une entreprise de débarras de maison.
                        </p>
                        <a class="newButton" target="_blank" href="https://www.m-b-services.com/">Voir le site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- INCLUSION DU FORMULAIRE -->
    <%- include("partials/formulaireContact") %>
</main>
<!-- INCLUSION DU FOOTER -->
<%- include("partials/footer") %>
</body>

</html>