<%- include("partials/head", {titre, description, urlCanonique}) %>
<main>
    <div class="content" id="elem1">
        <h2 class="titre">Vous souhaitez faire réaliser un site vitrine de qualité professionnelle ? Webmaster basé à Rennes, je peux vous le créer sur-mesure à un prix compétitif</h2>

        <h3>Un site vitrine c'est quoi ?</h3>
        <p>On appelle généralement site vitrine un site internet dont le but est de présenter votre activité et de convertir vos visiteurs en clients. Ainsi, comme la vitrine d'un magasin dans la rue, un site vitrine est la vitrine de votre entreprise sur internet. Un site vitrine se différencie donc d'un site e-commerce, car sur un site e-commerce les articles sont vendus directement, et ce n'est pas le cas sur un site vitrine.<br>
            Un site vitrine a donc pour but de présenter vos produits et services à votre clientèle cible afin d'avoir une présence digitale pour votre entreprise et d'obtenir de nouveaux clients.<br>
            Je ne réalise pas seulement des sites vitrine mais toute sorte de sites internet, n'hésitez donc pas à me contacter pour me parler de votre projet web.</p>

        <h3>Pourquoi choisir WebComet.fr pour la création de son site vitrine ? </h3>
        <p>
            Vous avez besoin d'un site vitrine pour présenter votre activité professionnelle, être plus visible sur internet et attirer plus de clients ?<br> Mes prestations en <strong>création de site vitrine</strong> sont avantageuses pour vous : en me confiant la réalisation de votre site vitrine, vous faite appel à un webmaster indépendant qui vous coûtera moins cher qu'une agence web. De plus, mes disponibilités sont plus grandes, mes horaires plus flexibles : vous pourrez me joindre plus facilement.<br>
            M'occupant de la totalité du processus de création ou de refonte d'un site internet, vous n'aurez pas à expliquer à différents interlocuteurs ce dont vous avez besoin : je connaîtrai chaque partie de votre projet digital.<br><br>
        </p>

        <h3>Une création de site vitrine de qualité</h3>
        <ul>
            <li><i class="far fa-check-circle"></i>Développement de votre site vitrine sur-mesure.</li>
            <li><i class="far fa-check-circle"></i>Site web responsive qui s'adapte à toutes les tailles d'écran (téléphones, tablettes, ordinateurs).</li>
            <li><i class="far fa-check-circle"></i>Site web optimisé pour le SEO : votre site vitrine sera optimisé pour être bien visible par vos clients sur Google.</li>
            <li><i class="far fa-check-circle"></i>Site internet rapide et léger : votre site vitrine étant développé sur mesure, il sera bien plus rapide qu'un site vitrine créé avec un CMS comme WordPress, et se chargera très rapidement.</li>
            <li><i class="far fa-check-circle"></i>Une réelle implication de ma part dans vos projets web.</li>
            <li><i class="far fa-check-circle"></i>De belles finitions pour votre site vitrine.</li>
        </ul>

        <p>
            Vous l'aurez compris, en faisant appel à mes services vous n'aurez pas un site vitrine créé à la chaîne avec un thème WordPress peu personnalisé, lent, mal optimisé pour le SEO et lourd, comme beaucoup en font.<br> Au contraire vous aurez un site vitrine développé sur mesure selon vos envies, léger et rapide, optimisé pour flirter avec les premières positions sur Google, créé avec des technologies web modernes et rapides (HTML5, CSS3, JavaScript, Node.js).<br><br>

            Si vous avez déjà un site web dont vous voulez améliorer le référencement naturel, vous devriez consulter ma page de <a href="/consultant-seo">consultant SEO à Rennes</a>.
        </p>

        <h3>Ce qui est inclus dans la création de votre site vitrine optimisé pour le SEO</h3>
        <div class="prestations">
            <h4>Création de site vitrine</h4>
            <ul>
                <li>Aide au choix et à la réservation d'un nom de domaine si besoin.</li>
                <li>Aide au choix et à la réservation d'un serveur web VPS si besoin.</li>
                <li>Conception de l'architecture (URL) du site vitrine.</li>
                <li>Recherche des meilleurs mots-clés pour votre activité.</li>
                <li>Conception du design du site web par wireframes.</li>
                <li>Développement sur-mesure de votre site vitrine, sans CMS, avec des technologies modernes : HTML5, CSS3, JavaScript ES6+, Node.js.</li>
                <li>Création et sécurisation de votre serveur HTTP Node.js.</li>
                <li>Création de votre base de données MySQL ou MongoDB si besoin.</li>
                <li>Site internet responsive : s'adapte aux différentes tailles d'écran (téléphones, tablettes, ordinateurs portables, ordinateurs de bureau).</li>
                <li>Rédaction web des contenus de votre site, optimisés pour le SEO.</li>
                <li>Optimisation SEO de votre site vitrine (pour plus de détails, voir ma page de <a href="/consultant-seo">consultant SEO</a> ).</li>
                <li>Mise en ligne de votre site web.</li>
                <li>10 pages maximum pour l'offre standard, au-delà un supplément s'ajoute par page.</li>
                <li>Création d'un fichier "robots.txt" pour les robots d'indexation des moteurs de recherche.</li>
                <li>Création d'un fichier "sitemap.xml" pour une meilleure indexation par les moteurs de recherche.</li>
                <li>Création (si inexistants) d'un compte Google Search Console et d'un compte Bing webmaster tools.</li>
                <li>Création d'un compte Google My Business.</li>
                <li>Création d'un compte Google Analytics.</li>
                <li>Test de la rapidité de votre site vitrine avec Google PageSpeed Insights.</li>
                <li>Demande d'indexation de votre nouveau site vitrine pour Google.fr et Bing.fr.</li>
            </ul>
        </div>

        <h2 class="titre mt7">Mes dernières créations de sites vitrine professionnels</h2>

        <div class="portfolio-container">
            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/emsam_serrurerie.jpg" alt="EmSam Serrurerie Nice">
                    <div class="box-portfolio-text">
                        <h3>EmSam Serrurerie Nice</h3>
                        <p>
                            Création d'un site vitrine pour une entreprise de serrurerie basée à Nice.<br>
                            Site web créé sur-mesure, optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://emsam-serrurerie.fr/">VOIR LE SITE</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/michele_barange.png" alt="Artiste peintre à Rennes">
                    <div class="box-portfolio-text">
                        <h3>Artiste peintre à Rennes</h3>
                        <p>
                            Création d'un site vitrine pour une artiste peintre à Rennes.<br>
                            Site web créé sur-mesure, optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://michelebarange.com/">VOIR LE SITE</a>
                    </div>
                </div>
            </div>

            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/newlive.jpg" alt="Newlive Consulting">
                    <div class="box-portfolio-text">
                        <h3>Newlive Consulting</h3>
                        <p>
                            Création d'un site vitrine pour une entreprise de coaching personnel.<br>
                            Site web créé avec le CMS WordPress sur demande du client, non optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://newliveconsulting.com/">VOIR LE SITE</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/sauve-le-koala.png" alt="Sauve le koala - Jeu vidéo 2D">
                    <div class="box-portfolio-text">
                        <h3>Sauve le koala - Jeu vidéo 2D</h3>
                        <p>
                            Création d'un site vitrine pour un jeu vidéo 2D en ligne.<br>
                            Site web créé sur-mesure, non optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://webcomet.fr/sauve-le-koala">VOIR LE SITE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INCLUSION DU FORMULAIRE -->
    <%- include("partials/formulaireContact") %>
</main>
<!-- INCLUSION DU FOOTER -->
<%- include("partials/footer", {titre, description}) %>
</body>

</html>