<%- include("partials/head", {titre, description, urlCanonique}) %>
<main>
    <div class="content" id="elem1">
        <h2 class="titre">Vous souhaitez faire réaliser un site vitrine de qualité professionnelle ? Je peux vous le créer sur-mesure à un prix compétitif</h2>

        <p>
            Vous avez besoin d'un site vitrine pour présenter votre activité professionnelle, être plus visible sur internet et attirer plus de clients ?<br> Mes prestations en <strong>création de site vitrine</strong> sont avantageuses pour vous : en me confiant la réalisation de votre site vitrine, vous faite appel à un webmaster indépendant qui vous coûtera moins cher qu'une agence web. De plus, mes disponibilités sont plus grandes, mes horaires plus flexibles : vous pourrez me joindre plus facilement.<br>
            M'occupant de la totalité du processus de création ou de refonte d'un site internet, vous n'aurez pas à expliquer à différents interlocuteurs ce dont vous avez besoin : je connaîtrai chaque partie de votre projet digital.<br><br>

            Les <strong>sites vitrine professionnels que je créé sont de qualité :</strong>
        </p>
        <ul>
            <li><i class="far fa-check-circle"></i>Développement de votre site vitrine sur-mesure.</li>
            <li><i class="far fa-check-circle"></i>Site web responsive qui s'adapte à toutes les tailles d'écran (téléphones, tablettes, ordinateurs).</li>
            <li><i class="far fa-check-circle"></i>Site web optimisé pour le SEO : votre site vitrine sera optimisé pour être bien visible par vos clients sur Google.</li>
            <li><i class="far fa-check-circle"></i>Site internet rapide et léger : votre site vitrine étant développé sur mesure, il sera bien plus rapide qu'un site vitrine créé avec un CMS comme WordPress, et se chargera très rapidement.</li>
            <li><i class="far fa-check-circle"></i>Une réelle implication de ma part dans vos projets web.</li>
            <li><i class="far fa-check-circle"></i>De belles finitions pour votre site vitrine.</li>
        </ul>

        <p>
            Vous l'aurez compris, en faisant appel à mes services vous n'aurez pas un site vitrine créé à la chaîne avec un thème WordPress peu personnalisé, lent, mal optimisé pour le SEO et lourd, comme beaucoup en font.<br> Au contraire vous aurez un site vitrine développé sur mesure selon vos envies, léger et rapide, optimisé pour flirter avec les premières positions sur Google, créé avec des technologies web modernes et rapides (HTML5, CSS3, JavaScript, Node.js).<br><br>

            Si vous avez déjà un site web dont vous voulez améliorer le référencement naturel, vous devriez consulter ma page de <a href="/consultant-seo">consultant SEO à Rennes</a>.
        </p>

        <h2 class="titre mt7">Mes dernières créations de sites vitrine professionnels</h2>

        <div class="portfolio-container">
            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/emsam_serrurerie.jpg" alt="EmSam Serrurerie Nice">
                    <div class="box-portfolio-text">
                        <h3>EmSam Serrurerie Nice</h3>
                        <p>
                            Création d'un site vitrine pour une entreprise de serrurerie basée à Nice.<br>
                            Site web créé sur-mesure, optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://emsam-serrurerie.fr/">VOIR LE SITE</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/michele_barange.png" alt="Artiste peintre à Rennes">
                    <div class="box-portfolio-text">
                        <h3>Artiste peintre à Rennes</h3>
                        <p>
                            Création d'un site vitrine pour une artiste peintre à Rennes.<br>
                            Site web créé sur-mesure, optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://michelebarange.com/">VOIR LE SITE</a>
                    </div>
                </div>
            </div>

            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/newlive.jpg" alt="Newlive Consulting">
                    <div class="box-portfolio-text">
                        <h3>Newlive Consulting</h3>
                        <p>
                            Création d'un site vitrine pour une entreprise de coaching personnel.<br>
                            Site web créé avec le CMS WordPress sur demande du client, non optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://newliveconsulting.com/">VOIR LE SITE</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/sauve-le-koala.png" alt="Sauve le koala - Jeu vidéo 2D">
                    <div class="box-portfolio-text">
                        <h3>Sauve le koala - Jeu vidéo 2D</h3>
                        <p>
                            Création d'un site vitrine pour un jeu vidéo 2D en ligne.<br>
                            Site web créé sur-mesure, non optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://webcomet.fr/sauve-le-koala">VOIR LE SITE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INCLUSION DU FORMULAIRE -->
    <%- include("partials/formulaireContact") %>
</main>
<!-- INCLUSION DU FOOTER -->
<%- include("partials/footer") %>
</body>

</html>