<%- include("partials/head", {titre, description, urlCanonique}) %>
<main>
    <div class="content" id="elem1">
        <h2 class="titre">Vous souhaitez faire réaliser la création d'un site internet de qualité professionnelle ? Webmaster basé à Rennes, je peux vous créer un site web sur-mesure à un prix compétitif</h2>

        <h3>Quels sont les types de sites internet créés par WebComet.fr, webmaster basé à Rennes ?</h3>
        <p>
            Je suis spécialisé dans la création de sites internet dits "sites vitrine", dont le but est de présenter votre entreprise ainsi que les services ou produits que vous proposez.<br>
            Les sites internet que je réalise sont <a href="/consultant-seo">optimisés pour le référencement naturel (SEO)</a>, ils ont donc pour objectif d'être bien placés dans les résultats des moteurs de recherche (Google, Bing) pour les requêtes intéressantes pour votre activité. Ainsi ils ont pour but d'attirer du trafic de qualité sur votre site internet, et de convertir ces visiteurs en clients.<br>
            Pour l'instant je ne réalise pas de sites e-commerce ni d'applications mobile.<br>
            Si vous avez besoin d'un site internet non optimisé pour le SEO, je peux vous le créer aussi.
        </p>

        <h3>Pourquoi créer un site internet pour présenter son entreprise ?</h3>
        <p>
            Un site internet vitrine bien placé dans les moteurs de recherche peut vous apporter beaucoup de clients et augmenter votre chiffre d'affaires. Avoir un site internet bien référencé permet aussi de réduire ses dépenses en annonces payantes Google Ads si vous en faisez.<br>
            Comme la vitrine d'un magasin dans la rue, votre site internet est la vitrine de votre entreprise sur internet qui expose vos compétences et produits.<br>
            Un site internet de type vitrine a donc pour but de présenter vos produits et services à votre clientèle cible afin d'avoir une présence digitale pour votre entreprise et d'obtenir de nouveaux clients. La qualité de son projet web n'est donc pas à négliger si vous voulez réaliser un bon investissement.<br>
            Si vous voulez en savoir plus sur les enjeux de la création d'un site internet aujourd'hui, vous pouvez consulter <a rel="external" target="_blank" href="http://www.dynamique-mag.com/article/le-site-internet-un-enjeu-strategique.1854">cette page</a>.
        </p>

        <h3>Pourquoi choisir WebComet.fr pour la création de son site internet ? </h3>
        <p>
            Vous avez besoin d'un site internet pour présenter votre activité professionnelle, être plus visible sur internet et attirer plus de clients ?<br>
            Mes prestations en <strong>création de site internet à Rennes</strong> et ailleurs sont avantageuses pour vous : en me confiant la réalisation de votre site web, vous faite appel à un webmaster indépendant qui vous coûtera moins cher qu'une agence web. De plus, mes disponibilités sont plus grandes, mes horaires plus flexibles : vous pourrez me joindre plus facilement.<br>
            M'occupant de la totalité du processus de création ou de refonte d'un site internet, vous n'aurez pas à expliquer à différents interlocuteurs ce dont vous avez besoin : je connaîtrai chaque partie de votre projet digital.
        </p>

        <h3>WebComet.fr : une création de site internet de qualité, que vous habitiez à Rennes ou ailleurs dans le monde</h3>
        <ul>
            <li><i class="far fa-check-circle"></i>Développement de votre site web sur-mesure.</li>
            <li><i class="far fa-check-circle"></i>Site web responsive qui s'adapte à toutes les tailles d'écran (téléphones, tablettes, ordinateurs).</li>
            <li><i class="far fa-check-circle"></i>Site internet optimisé pour le SEO : votre site internet sera optimisé pour être bien visible par vos clients sur Google.</li>
            <li><i class="far fa-check-circle"></i>Site internet rapide et léger : votre site vitrine étant développé sur mesure, il sera bien plus rapide qu'un site vitrine créé avec un CMS comme WordPress, et se chargera très rapidement.</li>
            <li><i class="far fa-check-circle"></i>Une réelle implication de ma part dans vos projets web.</li>
            <li><i class="far fa-check-circle"></i>De belles finitions pour votre site internet.</li>
        </ul>

        <p>
            Vous l'aurez compris, en faisant appel à mes services vous n'aurez pas un site internet créé à la chaîne avec un thème WordPress peu personnalisé, lent, mal optimisé pour le SEO et lourd, comme beaucoup en font.<br> Au contraire vous aurez un site web développé sur mesure selon vos envies, léger et rapide, optimisé pour flirter avec les premières positions sur Google, créé avec des technologies web modernes et rapides (HTML5, CSS3, JavaScript, Node.js).<br><br>

            Si vous avez déjà un site internet dont vous voulez améliorer le référencement naturel, vous devriez consulter ma page de <a href="/consultant-seo">consultant SEO à Rennes</a>.
        </p>

        <h3>Ce qui est inclus dans la création de votre site internet optimisé pour le SEO</h3>
        <div class="prestations">
            <h4>Création de site internet</h4>
            <!-- <h5>590 €</h5> -->
            <ul>
                <li>Aide au choix et à la réservation d'un nom de domaine si besoin.</li>
                <li>Aide au choix et à la réservation d'un serveur web VPS si besoin.</li>
                <li>Conception de l'architecture (URL) du site web.</li>
                <li>Recherche des meilleurs mots-clés pour votre activité.</li>
                <li>Conception du design du site web par wireframes.</li>
                <li>Développement sur-mesure de votre site internet, sans CMS, avec des technologies modernes : HTML5, CSS3, JavaScript ES6+, Node.js.</li>
                <li>Création et sécurisation de votre serveur HTTP Node.js.</li>
                <li>Création de votre base de données MySQL ou MongoDB si besoin.</li>
                <li>Site internet responsive : s'adapte aux différentes tailles d'écran (téléphones, tablettes, ordinateurs portables, ordinateurs de bureau).</li>
                <li>Rédaction web des contenus de votre site web, optimisés pour le SEO.</li>
                <li>Optimisation SEO de votre site vitrine (pour plus de détails, voir ma page de <a href="/consultant-seo">consultant SEO</a> ).</li>
                <li>Mise en ligne de votre site web.</li>
                <li>10 pages maximum pour l'offre standard, au-delà un supplément s'ajoute par page.</li>
                <li>Création d'un fichier "robots.txt" pour les robots d'indexation des moteurs de recherche.</li>
                <li>Création d'un fichier "sitemap.xml" pour une meilleure indexation par les moteurs de recherche.</li>
                <li>Création (si inexistants) d'un compte Google Search Console et d'un compte Bing webmaster tools.</li>
                <li>Création d'un compte Google My Business.</li>
                <li>Création d'un compte Google Analytics.</li>
                <li>Test de la rapidité de votre site web avec Google PageSpeed Insights.</li>
                <li>Demande d'indexation de votre nouveau site internet pour Google.fr et Bing.fr.</li>
            </ul>
        </div>

        <h2 class="titre mt7">Mes dernières créations de sites internet professionnels en tant que webmaster basé à Rennes</h2>

        <div class="portfolio-container">
            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/emsam_serrurerie.jpg" alt="EmSam Serrurerie Nice">
                    <div class="box-portfolio-text">
                        <h3>EmSam Serrurerie Nice</h3>
                        <p>
                            Création d'un site internet pour une entreprise de serrurerie basée à Nice.<br>
                            Site vitrine créé sur-mesure, optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://emsam-serrurerie.fr/">VOIR LE SITE</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/michele_barange.png" alt="Artiste peintre à Rennes">
                    <div class="box-portfolio-text">
                        <h3>Artiste peintre à Rennes</h3>
                        <p>
                            Création d'un site internet pour une artiste peintre à Rennes.<br>
                            Site vitrine créé sur-mesure, optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://michelebarange.com/">VOIR LE SITE</a>
                    </div>
                </div>
            </div>

            <div class="portfolio-row">
                <div class="box-portfolio">
                    <img src="/img/portfolio/newlive.jpg" alt="Newlive Consulting">
                    <div class="box-portfolio-text">
                        <h3>Newlive Consulting</h3>
                        <p>
                            Création d'un site internet pour une entreprise de coaching personnel.<br>
                            Site vitrine créé avec le CMS WordPress sur demande du client, non optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://newliveconsulting.com/">VOIR LE SITE</a>
                    </div>
                </div>

                <div class="box-portfolio">
                    <img src="/img/portfolio/sauve-le-koala.png" alt="Sauve le koala - Jeu vidéo 2D">
                    <div class="box-portfolio-text">
                        <h3>Sauve le koala - Jeu vidéo 2D</h3>
                        <p>
                            Création d'un site internet pour un jeu vidéo 2D en ligne.<br>
                            Site web créé sur-mesure, non optimisé pour le SEO.
                        </p>
                        <a class="newButton" target="_blank" rel="external nofollow" href="https://webcomet.fr/sauve-le-koala">VOIR LE SITE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INCLUSION DU FORMULAIRE -->
    <%- include("partials/formulaireContact") %>
</main>
<!-- INCLUSION DU FOOTER -->
<%- include("partials/footer", {titre, description}) %>
</body>

</html>