<%- include("partials/head", {titre, description, urlCanonique}) %>
<main>
	<div class="box" id="box1">
		<span class="box-header">
			<h2>Création de site internet</h2>
		</span>
		<span class="box-main">
			<img id="creation_site_web_img" src="/img/creation_site_web.png" alt="Webmaster Rennes">
			<div class="box-text">
				<p>Vous avez trouvé le <strong>webmaster</strong> qu'il vous faut pour créer votre site vitrine.</p>
				<a class="newButton" href="/webmaster-creation-site-vitrine">EN SAVOIR PLUS</a>
			</div>
		</span>
	</div>

	<div class="box">
		<span class="box-header">
			<h2>Référencement naturel SEO</h2>
		</span>
		<span class="box-main">
			<div class="box-text">
				<p>Améliorons les positions de votre site web sur les moteurs de recherche.</p>
				<a class="newButton" href="/consultant-seo">EN SAVOIR PLUS</a>
			</div>
			<img id="seo_img" src="/img/seo.png" alt="Consultant SEO Rennes">
		</span>
	</div>

	<div class="content">
		<h2 class="titre">Webmaster à Rennes, je peux vous créer un site internet, quelle que soit votre localisation</h2>
		<h3>WebComet.fr, un webmaster à Rennes qui créé des sites internet de qualité</h3>
		<p>
			Vous cherchez un <strong>webmaster à Rennes</strong> ou ailleurs à qui confier la création ou la refonte de votre site internet ?<br>
			Je m'appelle Glen Le Baill, je suis auto-entrepreneur en création de sites web et en réalisation de prestations SEO (référencement naturel) depuis plus de deux ans.<br>
			Dans le cadre de cette activité, j'ai aidé plusieurs clients à concrétiser leur besoin d'avoir d'un site internet moderne et bien placé dans les moteurs de recherche (notamment Google) pour leur activité professionnelle.
		</p>
		<h3>Pourquoi créer un site internet de qualité optimisé pour le SEO ?</h3>
		<p>
			Un site internet représente l'identité d'une entreprise sur le web, et peut apporter beaucoup de visibilité à votre entreprise, vous créant de nombreuses opportunités commerciales. Créer un site internet pour son entreprise est donc un investissement dont la qualité est importante, car les bénéfices pour votre société peuvent être importants.<br>
			Optimiser le référencement naturel de votre site internet peut en effet vous permettre d'être en première page sur les requêtes intéressantes pour votre activité et qui ciblent votre clientèle, vous permettant de recevoir un trafic qualifié sur votre site web.<br>
			Je réalise des sites internet modernes sur-mesure pour mes clients, programmés avec des langages modernes. Les sites web que je créé sont rapides, légers, sécurisés, sans bugs et agréables à utiliser.
		</p>
		<h3>Des sites web réalisés à un bon prix par un webmaster indépendant</h3>
		<p>
			Mes tarifs sont alignés sur ceux des autres freelance en création de sites internet, ainsi bien que les sites internet que je créé soient faits sur-mesure, ils ne vous coûteront pas plus cher qu'un site web fait à la chaîne avec un template WordPress.<br>
			Beaucoup de webmaster et d'agences web proposent des sites web réalisés avec des CMS comme WordPress ou Drupal : les sites internet créés avec ces outils sont plus lourds, plus lents, plus sujets aux bugs et aux failles de sécurité que les sites sur-mesure que je propose.<br>
			Ayant des compétences en conception de projets web, en programmation, en SEO, en rédaction web SEO, en webdesign et en informatique générale, j'arrive à réduire le coût des sites internet que je propose en travaillant seul en tant que webmaster sur ces projets.
		</p>
		<p>
			En collaborant avec moi pour réaliser votre projet digital, vous faites donc le choix de <strong>la qualité à un bon prix</strong>.
		</p>
		<p>
			N'hésitez pas à me contacter pour me demander plus de renseignements, ou pour obtenir un devis gratuit et sans engagement pour la <strong>création de votre site internet</strong>.
		</p>
	</div>

	<!-- INCLUSION DU FORMULAIRE -->
	<%- include("partials/formulaireContact") %>
</main>
<!-- INCLUSION DU FOOTER -->
<%- include("partials/footer") %>
</body>

</html>