<%- include("partials/head", {titre, description, urlCanonique}) %>
<main>
    <div class="content" id="elem1">
        <h2 class="titre">Mentions légales</h2>

        <p>
            En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités. Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les responsables du présent site internet https://webcomet.fr/ sont :
        </p>

        <h3>Editeur du site et développement</h3>

        <p>
            Glen Le Baill<br>
            Développeur web freelance<br>
            lebaill.glen@gmail.com<br>
            6 BD P DUMAINE DE LA JOSSERIE 35740 PACÉ
        </p>

        <h3>Hébergement</h3>

        <p>
            OVH<br>
            SAS au capital de 10 069 020 €<br>
            RCS Lille Métropole 424 761 419 00045<br>
            Code APE 2620Z<br>
            N° TVA : FR 22 424 761 419<br>
            Siège social : 2 rue Kellermann - 59100 Roubaix - France<br>
            Directeur de la publication : Octave KLABA<br>
            Président : Henryk KLABA<br>
            Directeur général : Miroslaw KLABA<br>
            Directeur général délégué : Octave KLABA<br>
            Directeur général délégué : Halina KLABA
        </p>

        <h3 id="cookies">Cookies</h3>
        <p>
            En naviguant sur ce site internet, vous acceptez les cookies émis par webcomet.fr.
            Ces cookies sont utiles au bon fonctionnement du site internet webcomet.fr, ainsi qu'à des mesures d'audience via l'outil Google Analytics. Aucune de vos données personnelles ne sera stockée dans un cookie.<br>
            Si vous désirez supprimer les cookies déposés par le site webcomet.fr, votre navigateur internet vous propose cette option.
        </p>

        <h3>Google Analytics</h3>

        <p>
            Ce site utilise Google Analytics, un service d'analyse de site internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l'utilisation du site par ses utilisateurs. Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d'évaluer votre utilisation du site, de compiler des rapports sur l'activité du site à destination de son éditeur et de fournir d'autres services relatifs à l'activité du site et à l'utilisation d'Internet. Google est susceptible de communiquer ces données à des tiers en cas d'obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l'éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google. Vous pouvez désactiver l'utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l'utilisation de certaines fonctionnalités de ce site. En utilisant ce site internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus.
        </p>
    </div>

    <!-- INCLUSION DU FORMULAIRE -->
    <%- include("partials/formulaireContact") %>
</main>
<!-- INCLUSION DU FOOTER -->
<%- include("partials/footer", {titre, description}) %>
</body>

</html>