/* BOUTONS ------------------------------ */

.newButton {
    width: 150px;
    text-align: center;
    background: var(--couleur-secondaire);
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: silver 5px 10px 10px;
    z-index: 3;
    outline: none;
    text-decoration: none;
    display: block;
    border-bottom: 4px solid #007f21;
}

.newButton:hover {
    box-shadow: silver 5px 10px 15px;
    border-bottom: 4px solid #007f21;
}

.newButton:active {
    padding: 19px;
    background: #007f21;
    border-bottom: 0px;
    margin-bottom: +4px;
}
