/* RÉFÉRENCES CLIENTS -------------------------- */

#referencesClients {
    text-align: center;
    border-top: 1px dotted var(--couleur-secondaire);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#referencesClients>h4 {
    font-size: 20px;
    margin-bottom: 0px;
    color: var(--couleur-primaire);
    text-transform: uppercase;
}

#referencesClients>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#referencesClients img {
    margin: 10px;
    width: 140px;
}

@media (max-width: 700px) {
    #referencesClients>div {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* FORMULAIRE CONTACT -------------------------- */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>.newButton {
    box-shadow: none;
    margin-top: 10px;
    width: 380px;
    border-radius: 5px;
}

form>.newButton:hover {
    box-shadow: none;
}

input[type="email"], textarea {
    border-radius: 5px;
    padding: 10px;
    border: 0px;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

input[type="email"] {
    max-width: 400px;
    width: 400px;
}

textarea {
    max-width: 400px;
    width: 400px;
    height: 300px;
}

#reponse {
    display: none;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    width: 380px;
}

@media all and (max-width: 480px) {
    input[type="email"] {
        width: 98%;
    }
    textarea {
        width: 98%;
    }
    form>.newButton, #reponse {
        width: calc(98% - 20px);
    }
}

.contact_box {
    background: var(--couleur-primaire);
    padding: 50px;
    color: white;
    text-align: center;
}

@media all and (max-width: 950px) {
    .contact_box {
        margin-top: 30px;
    }
}