/* PAGE D'ACCUEIL --------------------- */

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow .2s;
    box-shadow: 0px 0px 10px silver;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 50px;
}

.box:hover {
    box-shadow: 0px 0px 20px silver;
}

.box .box-header {
    color: white;
    background: var(--couleur-primaire);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.box .box-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    width: 95%;
    padding: 10px;
    min-height: 210px;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 280px;
}

.box-text h2 {
    margin-bottom: 0px;
}

#creation_site_web_img {
    width: 400px;
    max-width: 450px;
    height: 100%;
}

#seo_img {
    width: 250px;
    max-width: 350px;
    height: 100%;
}

@media all and (max-width: 800px) {
    .box {
        flex-direction: column;
        text-align: center;
    }
    .box>.box-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }
    .box-text {
        order: 2;
        max-width: 400px;
        text-align: center;
    }
    #creation_site_web_img {
        width: 80%;
        margin-bottom: -10px;
    }
    #seo_img {
        width: 80%;
        order: 1;
        margin-bottom: 10px;
        padding-top: 10px;
    }
}

@media all and (min-width: 1200px) {
    #box1 {
        margin-top: -920px;
    }
    #elem1 {
        margin-top: -980px;
    }
    .box {
        margin-bottom: 50px;
        width: 1200px;
        justify-content: space-around;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact_box {
        width: 100%;
    }
}

main {
    margin-top: -350px;
    position: relative;
    z-index: 4;
}

.titre {
    color: var(--couleur-primaire);
    text-align: center;
    margin-bottom: 40px;
}

.speech {
    color: var(--couleur-primaire);
}

.content {
    padding: 20px;
    text-align: justify;
    max-width: 700px;
    margin: auto;
}

.content p {
    text-indent: 20px;
}

.fa-check-circle {
    font-size: 24px;
    color: yellowgreen;
    margin-right: 5px;
}

.mt7 {
    margin-top: 70px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.portfolio-row> :first-child {
    margin-right: 10px;
}

.portfolio-row> :last-child {
    margin-left: 10px;
}

.box-portfolio-text p {
    text-indent: 0px;
}

.prestations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    box-shadow: 0 0 10px silver;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.prestations h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--couleur-primaire);
    color: white;
    height: 50px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.prestations ul {
    margin: 0px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.prestations li {
    list-style-type: none;
}

.prestations li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 900;
    color: var(--couleur-secondaire);
}

@media all and (max-width: 950px) {
    .portfolio-row {
        flex-direction: column;
        align-items: center;
    }
    .portfolio-row> :first-child {
        margin-right: 0px;
    }
    .portfolio-row> :last-child {
        margin-left: 0px;
    }
}

.box-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow .2s;
    z-index: 3;
    box-shadow: 0px 0px 10px silver;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    padding-bottom: 20px;
}

.box-portfolio:hover {
    box-shadow: 0px 0px 20px silver;
}

.box-portfolio img {
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-portfolio .newButton {
    margin: auto;
}

@media all and (max-width: 950px) {
    .box-portfolio {
        max-width: 400px;
        width: 97%;
        margin-bottom: 20px;
    }
    .box-portfolio img {
        max-width: 400px;
        width: 97%;
    }
}

.box-portfolio-text {
    padding-left: 10px;
    padding-right: 10px;
}

.box-portfolio-text h3 {
    text-align: center;
}

.box-portfolio-text p {
    text-align: justify;
}